.container {
    margin-left: auto;
    margin-right: auto;
    width: 1000px;
}

.left-column {
    width: 300px;
    display: inline;
    float: left;
}

.right-column {
    width: 600px;
    display: inline;
    float: right;
}

.row {
    clear: both;
}


.left-column .inline-block {
    display: inline-block;
    text-align: center;
}

.home {
    width: 80px;
    height: 100px;
    float: left;
     margin-right: 14px;
}

.icon {
    width: 50px;
    height: 50px;
    display: inline;
}

.profile .icon {
    width: 55px;
    height: 55px;
}

.travel {
    width: 80px;
    margin-left: 14px;
    margin-right: 14px;
    float: left;
}

.profile {
    width: 80px;
    margin-left: 14px;
    float: left;

}

 



